table#bodyTable td#bodyCell {
    padding: 10px 10px 10px 0;
}

/**
 * Grippy icon
 */
.#{$prefix}action-col-icon.grippy {
    background: url('grippy.png') left no-repeat;
}

/**
 * DRAG cursor on grippy cell and icon
 */
.#{$prefix}grid-cell.grippy,
.#{$prefix}action-col-icon.grippy {
    cursor: move;
}

/**
 * NO cursor on other icons
 */
.#{$prefix}action-col-cell .#{$prefix}action-col-icon,
.#{$prefix}action-col-cell .#{$prefix}action-col-icon img {
    cursor: auto;
}

.#{$prefix}grid-body.steps td.#{$prefix}grid-cell {
    font-family:'Arial';
    font-size: 12px;
    line-height: 13px;
    padding-top: 2px;
    padding-bottom: 0px;
}


/**
 * Steps grid links are blue
 */
.#{$prefix}grid-body.steps a {
    color: #015ba7;
    text-decoration: none;
}

/**
 * Steps grid links underline on hover
 */
.#{$prefix}grid-body.steps td.#{$prefix}grid-cell a:hover {
    text-decoration: underline;
}

/**
 * Steps grid documentation links are small
 */
.#{$prefix}grid-body.steps a.documentationlink {
    font-size: 11px;
}

/**
 * Twirly under Configuration window
 */
iframe.twirly {
    background: url('images/tree/loading.gif') center no-repeat;
}