$font-family: arial, helvetica, sans-serif !default;
$prefix: "z-";
$button-default-color: #333 !default;
$button-small-font-weight: bold !default;
$button-medium-font-weight: bold !default;
$button-large-font-weight: bold !default;