$font-family: Arial, Helvetica, sans-serif;
$prefix: "z-";
$loadmask-opacity: 0.6;
$loadmask-background-color: black;
$button-default-base-color: #ddd;
$button-default-base-color-over: #e5f4ff;
$button-default-base-color-pressed: #ddd;
$button-default-border-color-over: #b5b5b5;
$button-default-border-color-pressed: #666;
$button-small-font-weight: bold;
$button-medium-font-weight: bold;
$button-large-font-weight: bold;
$button-default-background-gradient: grid-row-over;
$button-default-background-gradient-over: grid-row-over;
$button-default-background-gradient-pressed: bevel;
$window-header-color: black;
$window-header-font-size: 15px;
$window-background-color: white;
$window-header-background-color: #ebeff0;
$window-border-width: 0;
$window-header-padding: 10px;
$window-header-text-padding: 0 0 5px 0;
$window-header-border-width: 0;